#static {
  h2.-docs {
    margin: 0 0 20px; 
    font-size: 24px;
    color: #555;
    font-weight: normal;
    border-left: 66px solid #999;
    padding-left: 16px;
    height: 33px;
    strong {
      color: #333;
    }
    a {
      color: #248;
      &:hover { color: #136; text-decoration: none; }
    }
  }
}